@charset 'utf-8';

.bn {
    position: relative; left: 0; top: 0;
    height: 100vh;
    background: url("../imgs/bg-sup.jpg") no-repeat center center;
    background-size: cover;
}

h3 {text-transform:uppercase;}

@media screen and (min-width:1150px) {

    .login-container {
        position: absolute; left: 50%; top: 50%;
        width: 500px; padding: 50px 0 80px;
        text-align: center;
        background: #fff;
        border: 1px #333 solid;
        transform: translate(-50%, -45%);
    }

    h3 {font-size: 50px; margin-bottom: 45px;}

    .input-text {
        width: 400px; height: 50px;
        margin: 0 auto 25px;
        border: 1px #333 solid;
        background: #fff;
    }

    .checkboxes {
        display: flex; justify-content: space-between;
        width: 220px; margin: 0 0 50px 50px;
    }

    .checkboxes input {display: inline;}

    form button {
        width: 400px; height: 50px; margin: 0 auto 25px;
        font-size: 20px;
        border: 1px #333 solid;
    }

    .form-links {
        display: flex; justify-content: space-between;
        width: 400px; margin-left: 50px;
    }

    .form-links li:last-child {display: flex;}
    .form-links li:last-child a {padding-left: 10px;}

}

@media screen and (min-width:750px) and (max-width:1149px) {
    .login-container {
        position: absolute; left: 50%; top: 50%;
        width: 400px; padding: 25px 0 40px;
        text-align: center;
        background: #fff;
        border: 1px #333 solid;
        transform: translate(-50%, -50%);
    }

    h3 {font-size: 36px; margin-bottom: 20px;}

    .input-text {
        width: 300px; height: 45px;
        margin: 0 auto 20px;
        border: 1px #333 solid;
        background: #fff;
    }

    .checkboxes {
        display: flex; justify-content: space-between;
        width: 200px; margin: 0 0 40px 50px;
        font-size: 15px;
    }

    .checkboxes input {display: inline;}

    form button {
        width: 300px; height: 40px; margin: 0 auto 20px;
        font-size: 18px;
        border: 1px #333 solid;
    }

    .form-links {
        display: flex; justify-content: space-between;
        width: 300px; margin-left: 50px;
    }

    .form-links li a {font-size: 15px;}
    .form-links li:last-child {display: flex;}
    .form-links li:last-child a {padding-left: 10px;}
}

@media screen and (max-width:749px) {

    .login-container {
        position: absolute; left: 50%; top: 50%;
        width: 350px; padding: 25px 0 40px;
        text-align: center;
        background: #fff;
        border: 1px #333 solid;
        transform: translate(-50%, -50%);
    }

    h3 {font-size: 30px; margin-bottom: 20px;}

    .input-text {
        width: 250px; height: 40px;
        margin: 0 auto 20px;
        border: 1px #333 solid;
        background: #fff;
    }

    .checkboxes {
        display: flex; justify-content: space-between;
        width: 200px; margin: 0 0 40px 50px;
        font-size: 15px;
    }

    .checkboxes input {display: inline;}

    form button {
        width: 250px; height: 40px; margin: 0 auto 20px;
        font-size: 18px;
        border: 1px #333 solid;
    }

    .form-links {
        display: flex; justify-content: space-between;
        width: 250px; margin-left: 50px;
    }

    .form-links li a {font-size: 15px;}
    .form-links li:last-child {display: flex;}
    .form-links li:last-child a {padding-left: 10px;}
}